<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>
    {{ if . }}
    <p>Welcome {{ .Username }}!</p>
    <p>You are a member of the following groups:</p>
    <ul>
        {{range $group := .Groups}}
        <li>{{$group.Name}}</li>
        {{end}}
    </ul>
    <p><a href="/password">Click here</a> to change your password.</p>
    <p><a href="/logout">Click here</a> to logout.</p>
    {{ else }}
    <p>You are not logged in.</p>
    <p><a href="/login">Click here</a> to login.</p>
    <p><a href="/register">Click here</a> to register.</p>
    {{ end }}
</body>
</html>