<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/auth/login" method="POST">
        <h1>Login</h1>
        {{ if . }}
            <p style="color: red;">{{ .Msg }}</p>
        {{ end }}
        <p>Username:</p>
        <input type="text" name="username" id="username" required>
        <p>Password:</p>
        <input type="password" name="password" id="password" required>
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <p>New user? <a href="/auth/register">Click here</a> to register.</p>
</body>
</html>