<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
</head>
<body>
    <form action="/auth/register" method="POST">
        <h1>Register</h1>
        {{ if . }}
            <p style="color: red;">{{ .Msg }}</p>
        {{ end }}
        <p>Username:</p>
        <input type="text" name="username" id="username" required
        value="{{if and . .Data}}{{ .Data.Username }}{{end}}">
        <p>Password:</p>
        <input type="password" name="password" id="password" required>
        <p>Confirm Password:</p>
        <input type="password" name="confirm-password" id="confirm-password" required>
        <br><br>
        <div class="h-captcha" data-sitekey="ae2d6542-a3c2-44a3-a2c0-b05d29212ceb"></div>
        <br>
        <button type="submit">Submit</button>
    </form>
    <p>Returning user? <a href="/auth/login">Click here</a> to login.</p>
</body>
</html>